.gridbox {
    display:flex;
    padding: 20px;
    justify-content: left;
    flex-direction: column;
    gap: 8px;
    color: #000;
    background: #ffffff;
    
    &.reverse {
        flex-direction: column-reverse;
    }
    
    p {
        font-size: 11px;
        flex-grow: 1;
    }
    a {
        font-size: 11px;
        text-decoration: underline;
        color: rgb(3, 120, 124);
        align-self: start;
        
        &.right {
            align-self: end;
        }
    }

    &:nth-child(even) {
        background: #f0f9fa;
    }

    .title{
        display:flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        h2 {
            font-size: 14px;
            font-weight: bold;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

