.linkssection.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    padding: 0 16px 32px 16px;
    background: #ffffff;
}

.linkssection.title {
    font-size: 40;
    margin-bottom: 8px;
    color: #000;
}