.linkssection.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    padding: 0 16px 32px 16px;
    background: #ffffff;
}

.linkssection.title {
    font-size: 20px;
    margin-bottom: 8px;
    padding-top: 32px;
    font-family: Segoe UI,"Segoe UI Web (West European)",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 500;
    color: #000;
}
