.terminal-win {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    bottom: 90px;
    right: 90px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    background-color: #000000;
    color: #33ff33;
    font-family: "Consolas", monospace;
    font-size: 12px;

    outline-color: #33ff33;
    outline-style: auto;
    outline-width: 5px;

    pre {
        flex-grow: 1;
        padding: 10px 10px 0;
    }

    input {
        padding: 0 10px 10px calc(10px + 2ch);
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        &:focus {
            outline: none;
        }
    }

    .input-prompt {
        position: absolute;
        bottom: 10px;
        left: 10px;
        pointer-events: none;
    }
}

@keyframes pointer-bob {
    0% {
        transform: rotate(45deg) translate(1rem);
    }

    50% {
        transform: rotate(45deg) translate(-1rem);
    }

    100% {
        transform: rotate(45deg) translate(1rem);
    }
}

.terminal-pointer {
    position: relative;
    bottom: 100%;
    right: 100%;
    fill: #33ff33;
    stroke: #000;
    stroke-width: 0.5rem;

    animation-name: pointer-bob;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}